body {
    padding: 0;
    margin: 0;
    margin-bottom: -5rem;

    background-color: var(--background-primary-colour);
    color: var(--primary-text-colour);

    font-family: Montserrat;
    font-size: 1rem;
}

/*-------------------------   FOOTER   -------------------------*/
footer {
    border: 0;
    border-top: .3rem;
    border-style: solid;
    border-color: hsl(0, 0%, 5%, 0.8);

    margin: 0;
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    background-color: hsl(0, 0%, 10%, 0.8);

    color: white;
}
footer div {
    display: flex;
}
/*-------------------   COPYRIGHT   -------------------*/
footer p {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}
/*-------------------   LINKS LIST   -------------------*/
footer ul {
    width: 19%;
    padding: 0;
    padding-left: 25%;
    padding-bottom: 3rem;
    margin: 0;
    
    display: inline-block;
    
    font-weight: 600;
    font-size: 1.2rem;
}
footer ul a {
    text-decoration: none;
    
    transition: color .5s;
    color: white;
}
footer ul a:hover {
    transition: color .5s;
    color: rgba(255, 255, 255, 0.7);
}
/*-------------------   NEWSLETTER   -------------------*/
.newsletter-textbox {
    margin: 0;
    padding: .5rem;

    border: .1rem;
    border-radius: .3rem 0 0 .3rem;
    border-style: solid;
    border-color: white;

    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.3rem;
    font-weight: 100;
}
.newsletter-button {
    margin: 0;
    padding: .5rem;

    color: rgb(28, 23, 23);
    font-size: 1.3rem;
    font-weight: 600;

    border: .1rem;
    border-radius: 0 .3rem .3rem 0;
    border-style: solid;
    border-color: white;

    background-color: white;
}
.newsletter-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}