body {
    padding: 0;
    margin: 0;
    margin-bottom: -5rem;

    background-color: var(--background-primary-colour);
    color: var(--primary-text-colour);

    font-family: Montserrat;
    font-size: 1rem;
}
footer {
    border: 0;
    border-top: .3rem;
    border-style: solid;
    border-color: hsl(0, 0%, 5%, 0.8);

    margin: 0;
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    background-color: hsl(0, 0%, 10%, 0.8);

    color: white;
}
footer p {
    text-align: center;
    font-size: 0.8rem;
}