:root{
    --header-colour: hsl(0, 0%, 90%);
    --background-primary-colour: hsl(0, 0%, 85%);
    --background-secondary-colour: hsl(0, 0%, 80%);
    --highlight-colour: hsl(15, 40%, 80%);
    --primary-text-colour: hsl(0, 0%, 0%);
    --secondary-text-colour: hsl(0, 0%, 10%);
    --shadow-colour: rgba(181, 181, 181, 0.7);
}